@media screen and (min-width: 769px) {
  body {
    width: 96%;
    margin: 0 auto;
  }

  .avatar-img {
    width: 150px;
    height: 150px;
  }

  .banner {
    width: 100%;
    height: 70vh;
    padding: 50px;
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url(../images/banner.jpg);
    background-size: cover;
  }

  .menu {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .menu-empty {
    display: none;
  }

  .grid-container {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-gap: 1rem 1rem;
  }
}
